<%= will_paginate(@photos) %>

<h1>Listing photos</h1>

<div id="overlay" >
<div id="bigimage-container">


<p id="bigimage-caption"></p>
</div>

<div id="overlay-bg" onclick="FASHIONFEED.hideOverlay();"></div>

</div>
<div id="container">
<% @photos.each do |photo| %>
<% 
  randomRot = 0
#   randomRot = rand(-5...5)  
  randomWidth = rand(80...320)
# randomWidth = 40
%>
<div class="fashion-img-container item" style="transform:rotate(<%= randomRot %>deg) -ms-transform: rotate(<%= randomRot %>deg); /* IE 9 */ -webkit-transform: rotate(<%= randomRot %>deg); /* Safari and Chrome */ ">
 <a href="#<%= photo.id %>" onclick="FASHIONFEED.showOverlay('<%= photo.id %>')">
 <%= 
  image_tag(photo.image_url, :class => "fashion", :width => randomWidth)
# image_tag(photo.image_url, :class => "fashion")
  %>
</a>
    <div class="elementui">
      <%= link_to 'Show', photo %>
    <%= link_to 'Edit', edit_photo_path(photo) %>
    <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
<% end %>
</div>
<a href="../index.html">index.html</a>

<br />

<%= link_to 'New Photo', new_photo_path %>

